#tabla{
	border: 2px solid #C6C6C6!important;
	border-radius: 5px!important;
}



/*****Estos son solo los estilos para la edicion en linea********/
tr:hover{
	background: #dcf8c6!important;
}

input{
	margin-bottom: 0!important;
}

.errorInput{
	background-color: rgba(198,15,19,.3)!important;
    border-color: #c60f13!important;
}

.spinner{
	z-index: 99;
}