#tabla{
	border: 2px solid #C6C6C6!important;
	border-radius: 5px!important;
}



/*****Estos son solo los estilos para la edicion en linea********/
tr:hover{
	background: #dcf8c6!important;
}

input{
	margin-bottom: 0!important;
}

.errorInput{
	background-color: rgba(198,15,19,.3)!important;
    border-color: #c60f13!important;
}

.spinner{
	z-index: 99;
	background:url('../images/ajax-loader-small.gif') no-repeat right center;
}

/****Highlight****/
@-webkit-keyframes yellow-fade {
   0% {background: rgba(247, 255, 20, 0.5);}
   100% {background: none;}
}
@keyframes yellow-fade {
   0% {background: rgba(247, 255, 20, 0.5);}
   100% {background: none;}
}

.highlight {
   -webkit-animation: yellow-fade 0.5s ease-in 1;
   animation: yellow-fade 0.5s ease-in 1;
}